.add-cake{
    display: grid;
    align-items: center;
    grid-template-columns: auto auto;
    width: 75vw;
    background: #FFFFFF;
    max-width: 650px;
    height: 400px;
    text-align: center;
    border-radius: 15px;
    gap: 10px;
    
    margin-top: 50px;

}
.add-cake:hover{
    box-shadow: 0 4px 8px 0  rgb(236, 96, 157);
}
input{
    box-sizing: border-box;
    width:300px;
    height: 50px;
    left: 914px;
    top: 227px;
  
    border: none;
    font-size: 20px;
    background-color: #fbe3e3;
    
}
label{
font-family: 'Gelasio';
font-style: normal;
font-weight: 400;
font-size: 30px;

padding: 10px;
text-align: justify;

}
button{
    box-sizing: border-box;
    width: 174px;
    height: 54px;
    
    margin-top: 40px;
    margin-left: 100px;
    background: #d1a0a0;
    border: 1px solid #e62a85;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100px;
    font-family: 'Gidugu';
font-style: normal;
font-weight: 400;
font-size: 20px;


color: #FFFFFF;

}
button:hover{
    background: #807e7e;
}